<div class="div" align="center">
    <h2>Вход в портал</h2>
<form action="/toMongo">
    <input type="text" placeholder="NICKNAME" name="name"> <br><br>
    <input type="text" placeholder="@GMAIL" name="gmail"> <br><br>
    <input type="text" placeholder="password" name="password"> <br><br>
    <input class="submit" type="submit">
</form>
</div>
