<!-- main block [header and main] -->
    <div class="general-block">
        <!-- header -->
        <header class="header">
            <div class="container">
                <div class="header-wrapper">
                    <div class="header-logo">
                        <img class="LOGO" src="./img/logo.svg" alt="LOGO">
                    </div>
                    <div class="header-icons">
                        <img class="search-icon" src="./img/search-icon.png" alt="search-icon">
                        <div class="border">
                            <img class="basket-icon" src="./img/basket-icon.svg" alt="basket-icon">
                        </div>
                        <img class="users-icon" src="./img/user-icon.svg" alt="users-icon">
                    </div>
                    <div class="header-burgerMenu">
                        <img src="./img/burgerMenu-icon.svg" alt="">
                    </div>
                </div>
            </div>
        </header>
        <!-- main -->
        <main class="main">
            <div class="container">
                <div class="main-inner">
                    <div class="main-left">
                        <img src="img/freepik--Music--inject-4.png" alt="headphone">
                    </div>
                    <div class="main-right">
                        <p class="subtext">hear it. feel it</p>
                        <h1 class="title">move <br> with the <br> music</h1>
                        <div class="price-block">
                            <div class="block">
                                <p>$ 435</p>
                            </div>
                            <p class="price2">$ 465</p>
                        </div>
                        <button class="buy-btn">buy now</button>   
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- section -->
    <section class="section">
        <div class="container">
            <div class="section-inner">
                <h1 class="section__inner-title">Our Latest <br> colour collection 2021</h1>
                <div class="headphones-block">
                    <img class="arrow-left arrow" src="img/arrow-left.png" alt="arrow-left">
                    <img class="red-headphone" src="img/Rectangle 74.png" alt="red-headphone">
                    <img class="teal-headphone" src="img/Rectangle 76.png" alt="teal-headphone">
                    <img class="orange-headphone" src="img/Rectangle 75.png" alt="orange-headphone">
                    <img class="arrow-right arrow" src="img/Vector.png" alt="arrow-right">
                </div>
            </div>
        </div>
    </section>
    <section class="section1">
        <div class="container container1">
            <div class="section1-inner">
                <div class="section1-inner__left">
                    <div class="characteristics">
                        <h2 class="headphone-title">Good headphones <br> and loud music is all <br> you need</h2>
                        <div class="battery">
                            <div class="battery-icon">
                                <img src="img/Ellipse 19 (2).png" alt="battery-icon">
                            </div>
                            <div class="battery-text">
                                <h2 class="title-battery">Battery</h2>
                                <p class="type-battery">Battery 6.2V-AAC codec</p>
                                <a class="learnMore" href="#">Lern More</a>
                            </div>
                        </div>
                        <div class="battery bloc1k">
                            <div class="battery-icon">
                                <img src="img/Ellipse 22.png" alt="battery-icon">
                            </div>
                            <div class="battery-text">
                                <h2 class="title-battery ">Bluetooth</h2>
                                <p class="type-battery">Battery 6.2V-AAC codec</p>
                                <a class="learnMore" href="#">Lern More</a>
                            </div>
                        </div>
                        <div class="battery bloc1k">
                            <div class="battery-icon">
                                <img src="img/Ellipse 25.png" alt="battery-icon">
                            </div>
                            <div class="battery-text">
                                <h2 class="title-battery">Microphone</h2>
                                <p class="type-battery">Battery 6.2V-AAC codec</p>
                                <a class="learnMore" href="#">Lern More</a>
                            </div>
                        </div>
                    </div>
                    <div class="headphone-img">
                        <img src="img/image 6.png" alt="headphone-img">
                    </div>
            </div>
        </div>
        </div>
    </section>
    <section class="section2">
        <div class="container">
            <div class="section2-inner">
                <div class="section2-inner_title">
                    <h2>Our Latest Product</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas facilisis <br> nunc ipsum aliquam, ante. </p>
                </div>
                <div class="headphones-product" >
                    <!-- pink -->
                    <div class="headphones-product__pink pink">
                        <img class="model-headphonesa" src="img/pngwing 5.png" alt="pink-headphone">
                        <div class="rating">
                            <div class="rating-left">
                                <img src="img/Group 15.png" alt="rating">
                            </div>
                            <div class="rating-right">
                                <p>4.50</p>
                            </div>
                        </div>
                        <div class="model-headphone">
                            <div class="model"><p>Read Headphone</p></div>
                            <div><p class="model-price">$ 256</p></div>
                        </div>
                    </div>
                    <!-- blue -->
                    <div class="headphones-product__pink blue">
                        <img class="model-headphonesa blue-img" src="img/pngwing 4.png" alt="pink-headphone">
                        <div class="rating">
                            <div class="rating-left">
                                <img src="img/Group 15.png" alt="rating">
                            </div>
                            <div class="rating-right">
                                <p>4.50</p>
                            </div>
                        </div>
                        <div class="model-headphone">
                            <div class="model"><p>Blue Headphone</p></div>
                            <div><p class="model-price">$ 235</p></div>
                        </div>
                    </div>
                    <!-- green -->
                    <div class="headphones-product__pink green">
                        <img class="model-headphonesa" src="img/pngwing 6.png" alt="pink-headphone">
                        <div class="rating">
                            <div class="rating-left">
                                <img src="img/Group 15.png" alt="rating">
                            </div>
                            <div class="rating-right">
                                <p>4.50</p>
                            </div>
                        </div>
                        <div class="model-headphone">
                            <div class="model"><p>Green Headphone</p></div>
                            <div><p class="model-price">$ 245</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="container">
            <div class="section3-inner">
                <div class="section3-inner_left">
                    <img src="img/Rectangle 72.png" alt="image">
                </div>
                <div class="section3-inner__right">
                    <h2>Whatever you get <br> in the box</h2>
                    <div class="box">
                        <img src="img/Vector (2).png" alt="image">
                        <p>5A Charger</p>
                    </div>
                    <div class="box">
                        <img src="img/Vector (2).png" alt="image">
                        <p>Extra battery</p>
                    </div>
                    <div class="box">
                        <img src="img/Vector (2).png" alt="image">
                        <p>Sophisticated bag</p>
                    </div>
                    <div class="box last">
                        <img src="img/Vector (2).png" alt="image">
                        <p>User manual guide</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section4">
        <div class="container">
            <div class="section4-inner">
                <div class="section4-inner__left">
                    <img src="https://cdn-icons-png.flaticon.com/512/9424/9424315.png" alt="music-icon" width="200px">
                </div>
                <div class="section4-inner__medium">
                    <h2>Entrance</h2>   
                    <p>Authorization on the site</p>
                    <div class="int-btn">
                        

                        <div class="int-btn" >
                        <form action="/toMongo">
                            <input type="text" placeholder="@NICKNAME" name="name"> <br><br>
                            <input type="email" placeholder="Enter Your email address" name="email"> <br><br>
                            <input type="text" placeholder="Enter Your password" name="password"> <br><br>
                            <input class="submit" type="submit" value="LOG IN / SIGN IN">
                        </form>
                        </div>

                    </div>
                </div>
                <div class="section4-inner__end">
                    <img src="https://cdn-icons-png.flaticon.com/512/476/476799.png" alt="music-icon" width="200px">
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-inner__logo">
                    <img src="img/favpng_beats-electronics-logo-negative-space 2.png" alt="footer-logo">
                </div>
                <nav class="nav">
                    <ul class="menu">
                        <li class="list-items"><a href="#" class="list-items__link">Home</a></li>
                        <li class="list-items"><a href="#" class="list-items__link">About</a></li>
                        <li class="list-items"><a href="#" class="list-items__link">Product</a></li>
                    </ul>
                </nav>
                <div class="social-networks">
                    <img src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png" width="50px" alt="instagram">
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665228.png" width="50px" alt="twitter">
                    <img src="https://cdn-icons-png.flaticon.com/512/665/665209.png" width="50px" alt="facebook">
                </div>
            </div>
        </div>
    </footer>

    <script src="script/script.js"></script>
